{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-4">
    <h2>Create Order</h2>
    <form method="POST">
        {% csrf_token %}
        {{ order_form.as_p }}
        <h4>Order Items</h4>
        {{ formset.management_form }}
        {% for form in formset %}
            <div class="border p-2 mb-2">
                {{ form.as_p }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-info">Save Order</button>
        <a href="{% url 'order_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}